{% if setup_environment|length > 0 %}
{%   for env in setup_environment %}
{%     if env.name is defined and env.value is defined %}
{{ env.name|upper }}="{{ env.value }}"
{%     endif %}
{%   endfor %}
{% endif %}
